<head>

</head>
<div class="form-control">
    <h1>Cadastrar Materia</h1>
    <form action="/cadmatpost" method="post">
        <input type="text" required name="nome" placeholder="Digite o nome do aluno...">
        <input type="text" required name="cargaHoraria" placeholder="Digite a carga horaria...">
        <input type="text" required name="tempos" placeholder="Digite a quantos tempos de 1h...">
        <input type="submit">
    </form>
</div>